<a href="https://colab.research.google.com/github/Krishantsingh/Python-Basic-Assignment-/blob/main/Python_Basic_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Explain the key features of Python that make it a popular choice for programming.

  =There are several key features of python that make it a popular choice for programming. Some of them are as folow,
- A lot of libraries
- Automation
- Easy to learn
- Huge active community

2. Describe the role of predefined keywords in Python and provide examples of
   how they are used in a program.

   =  Keywords are predifined words that hold a specific meaning and have specific
   purpose.predefined keywords are reserved words that have special meanings and cannot be used as identifiers.

   Some major roles of predifined keywords in python are as follow,
   
   i.Control Flow: Keywords like if, else, elif, for, while, and break are used to control the flow of execution in a program, allowing for decision-making and iteration.
   
   for example,

In [ ]:
a=4
b=7
if b>a:
  print("b is greater than a")
elif a+b>10:
  print("The sum of a and b is greatre than 10")
else:
  print("None of the above")

b is greater than a

3. Compare and contrast mutable and immutable objects in Python with examples.

  = Mutable Objects:
  -objects or container whose value can be changed after they are created are
  called as Mutable objects. List is a type of mutable Objects.

  Example:

In [ ]:
a=[1,2,3.5,"Ajay"]
#if we want to change "Ajay" with "Bijay" then,
a[3]="Bijay"
print(a)

[1, 2, 3.5, 'Bijay']

Immutable Objects:

- The objects or container whose value cant't be changed after they are created are called as Immutable Objects. string is an immutable object.

Example:

In [ ]:
b="Ram"
#if we have to change 'a' in "Ram" with 3 then we can't do this
b[1]=3
print(b)

#here we got an error

TypeError: 'str' object does not support item assignment

4. Discuss the different types of operators in Python and provide examples of how they are used.

   -There are different types of operators in python. Some of them are as follow,
  
  i. Arithmatic Operators:

  -This operator is used to perform Additio, Subtraction, Division and Multiplication in python.This operator are +, -, *, / etc.
  
  example:

In [ ]:
a=1
b=3
a+b

4

In [ ]:
a-b

-2

In [ ]:
a*b

3

In [ ]:
a/b

0.3333333333333333

ii. Modulos Operator:
 - -This operator is used to calculate the remainder of the division between two numbers. It is  represented by % this sign.

 example,

In [ ]:
a=20
b=3
a%b

2

iii. Floor Operator:

   - This operatpr is used to get the value at lower side of a float value. It
     is represented by (//) this sign.

     example:

In [ ]:
a=21
b=2
a/b

10.5

In [ ]:
a//b

10

iv. Comparison Operator:
   
  -This operator returns a boolean value as a return of comparison of two value. This operaor are ==, !=, <=, >= etc.

  example:

In [ ]:
a=2
b=3
a==b

False

In [ ]:
a!=b

True

In [ ]:
b>=a

True

In [ ]:
a<=b

True

v. Assignment Operator:
  - This operator is used to assign some value to any variable. Such as +=, -=, *=, /= etc.

  example:

In [ ]:
a=4
a+=2
a

6

In [ ]:
a-=1
a

5

In [ ]:
a*=2
a

20

5.  Explain the concept of type casting in Python with examples.

  - The process of changing the data type of a value/object is known is Type casting. While executing or computing using operator, there can be mismatch between data type. So type casting is used to match convert the data type into another required data type.

   it is of two types:

     i. Implicit Type Casting:
  
     -In this type casting, we don't need to define variable data type, Python itself understand the data type.
   

     example:

In [ ]:
#here we dot't need to change the data type
a=2
b=3.5
a+b

5.5

ii. Explicit Type Casting:

  -In this type casting we have to define variabe data type to perform any function.

  Example

In [ ]:
#here we have to define data type of variable
a=2
b="3.5"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
a+float(b)

5.5

7.  How do conditional statements work in Python? Illustrate with examples.
  
   = Conditional Statement helps us to code decision based on some  
     precondition. Some of conditional statements are if statement, elif statement and else statement.

     Example:

In [ ]:
a=1
b=5
if a>b:
  print("a is greater than b")
elif a==b:
  print("a is equals to b")
else:
  print("a is less than b")

a is less than b

7. Describe the different types of loops in Python and their use cases with
   examples.
   
   = Loop is construct that aloows you to execute a block of code repeatedly. It is of two types, They are as follow;
   1. While loop:
   - It repeatedly execute a block of code untill a condition is meet.
   
     example:

In [ ]:
n=7
i=1
while i<n:
  print(i)
  i=i+1

1
2
3
4
5
6

       2. For loop:
       -  It iterate over a sequence of element and execute a block of code for each item in that sequence. Some of its example are as follow,

       Example:

In [ ]:
for i in "pwskills":
  print(i)

p
w
s
k
i
l
l
s

In [ ]:
l=[1,2,3,4.66,"Bijay"]
for i in l:
  if l==4:
    continue
  print(i)
else:
  print("this is else")

1
2
3
4.66
Bijay
this is else